
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-th-remove="all">The BookStore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color: #ccc"
		data-th-style="|background-color: #ccc|">
		<div style="padding: 40px;">
			<div
				style="margin-left: auto; margin-right: auto; border: solid 1px #555; border-radius: 6px;">
				<div
					style="background-color: #555; padding: 4px 4px 2px 4px; overflow: auto;">

					<img
						style="border: solid 1px #555; border-radius: 6px; width: 30%; height: 100%; float: right;"
						src="logo.png" data-th-src="|cid:${imageResourceName}|" />

				</div>
				<div
					style="padding: 15px 15px 30px 15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1em; background-color: #fff; color: #333;">
					<p>
						Hello <span th:text="${name}"></span>,
					</p>
					<p>Please use the below username and password for logging in to your account.</p>
							<p>Username: <span th:text="*{username}"></span></p>
                            <p>Password: <span th:text="*{password}"></span></p>

					<div>

						<br /> <br />
						<p>
							Regards, <br /> &emsp; <em>The Bookstore</em>
						</p>
					</div>
				</div>

			</div>

		</div>
	</div>

</body>
</html>